/******************************************************************************\
 * IPMDAT_style.css                                                           *
 * -------------------------------------------------------------------------- *
 * Styling properties for the IPMDAT project.                                 *
\******************************************************************************/

body, html{
    font-family: 'Exo', sans-serif;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.clear{
    clear: both;
}
#site_container{
    /* Light Green */
    background: #CBE5C0;
    height: 100%;
    position: relative;
    width: 100%;
}
#footer_container{
    border-top: 3px solid #8E8E8E;
    bottom: 0;
    height: 50px;
    position: absolute;
    text-align: right;
    width: 100%;
}
#site_content{
    background-image:url('/static/img/green_background.JPG');
    background-repeat: repeat-x;
    height: 600px;
    left: 13%;
    position: relative;
    top: 14%;
    width: 960px;
}
#site_nav_container{
    background: white;
    height: 19%;
    position: relative;
    width: 100%;
}
#site_nav_left_side{
    float: left;
}
    #site_nav_left_logo{
        background-image:url('/static/img/logo.JPG');
        height: 110px;
        width: 425px;
    }
#site_nav_right_side{
    float: right;
}
    .site_nav_link{
        color: #6D965B;
        cursor: pointer;
        float: left;
        font-weight: bold;
        margin-right: 45px;
        margin-top: 5px;
        position: relative;
    }
.progress_bar_base_style{
    border: 1px solid black;
    color: white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 20px;
    margin-left: 5px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 22%;
    z-index: 2;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
    #content_progress_bar_white_backdrop{
        background: white;
        height: 42px;
        left: 30px;
        position: absolute;
        width: 900px;
        z-index: 1;
    }
    #content_progress_bar_summary_recommendation{
        font-size: 1em;
        padding-top: 0px;
        height: 30px;
    }
    .progress_bar_inactive{
        background: #8A8A8A;
        box-shadow: -22px 6px 10px #ACACAC inset;
        -moz-box-shadow: -22px 6px 10px #ACACAC inset;
        -webkit-box-shadow: -22px 6px 10px #ACACAC inset;
    }
    .progress_bar_active{
        background: #62A5D0;
        box-shadow: -22px 6px 10px #A3CBE4 inset;
        -moz-box-shadow: -22px 6px 10px #A3CBE4 inset;
        -webkit-box-shadow: -22px 6px 10px #A3CBE4 inset;
    }
    .progress_bar_available{
        background: #6D965B;
        box-shadow: -22px 6px 10px #CBE5C0 inset;
        -moz-box-shadow: -22px 6px 10px #CBE5C0 inset;
        -webkit-box-shadow: -22px 6px 10px #CBE5C0 inset;
    }
#content_container{
    background: white;
    height: 387px;
    left: 3%;
    position: relative;
    width: 94%;
    z-index: 2;
}
#content_nav_container{
    background: #62A5D0;
    border-bottom: 1px solid black;
    height: 57px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0px -6px 13px #A3CBE4;
    -moz-box-shadow: 0px -6px 13px #A3CBE4;
    -webkit-box-shadow: 0px -6px 13px #A3CBE4;
}
    .content_nav_base_style{
        background: #8A8A8A;
        cursor: pointer;
        top: -65px;
        font-size: 3em;
        text-align: center;
        height: 50px;
        width: 125px;
        padding-bottom: 11px;
        position: relative;
        box-shadow: 0px -10px 24px #ACACAC inset;
        -moz-box-shadow: 0px -10px 24px #ACACAC inset;
        -webkit-box-shadow: 0px -10px 24px #ACACAC inset;
    }
    .content_nav_base_inactive{
        color: #8E8E8E;
    }
    .content_nav_base_active{
        color: black;
    }
    #content_nav_forward{
        float: right;
        right: 28px;
    }
    #content_nav_back{
        float: left;
        top: -4px;
        left: 29px;
    }
    #content_nav_substep_container{
    }
        .content_substep_container_scheme{
            background: #FEFEFE;
            border: 1px solid #8E8E8E;
            height: 20px;
            left: 34%;
            position: absolute;
            top: 17px;
            width: 290px;
            border-radius: 15px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            box-shadow: 5px 5px 20px #CCC;
            -moz-box-shadow: 5px 5px 20px #CCC;
            -webkit-box-shadow: 5px 5px 20px #CCC;
        }
        .content_substep_container_active{
            display: block;
        }
        .content_substep_container_inactive{
            display: none;
        }
            .content_substep_scheme{
                border-left: 2px solid black;
                border-right: 2px solid black;
                cursor: pointer;
                float: left;
                height: 30px;
                margin: 3px;
                margin-left: 34px;
                padding-top: 10px;
                position: relative;
                text-align: center;
                top: -12px;
                width: 8%;
                border-radius: 15px;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
            }
            .content_substep_active{
                background: #62A5D0;
            }
            .content_substep_inactive{
                background: #8A8A8A;
            }
            .content_substep_available{
                background: #6D965B;
            }
.content_step_scheme{
    height: 382px;
    overflow-y: scroll;
    padding-top: 5px;
}
.content_step_question_container_scheme{
    /* White */
    background: #FEFEFE;
    /* Light Grey */
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    left: 41px;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    width: 90%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
    #content_step_abundance_and_distribution_container{
        overflow-y: scroll;
        height: 375px;
    }
        #abundance_and_distribution_text_container{
            /* Lighter Blue */
            background: #BDDCE8;
            border: 1px solid black;
            left: 8%;
            margin-top: 8px;
            margin-bottom: 8px;
            padding: 10px;
            position: relative;
            width: 82%;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
    .content_step_active{
        display: block;
    }
    .content_step_inactive{
        display: none;
    }
    .content_step_question_label_scheme{
            float: left;
            position: relative;
    }
    .content_required_field{
            color: red;
            float: left;
            position: relative;
    }
    .content_step_question_content_scheme{
            float: right;
            position: relative;
    }
    .content_step_question_text_input_scheme{
    }
    .two_part_question_line{
            float: left;
            margin-right: 6px;
            width: 44%;
    }
    .content_step_question_textarea_content{
        height: 75px;
        width: 100%;
    }
    .content_step_question_textarea_input{
        height: 95%;
        left: 2%;
        margin-top: 3px;
        position: relative;
        width: 95%;
    }
    .content_step_question_extended_length{
        width: 95%;
    }
    #strategy_selection_checkbox_container{
        /* Lighter Blue */
        background: #BDDCE8;
        border: 1px solid black;
        left: 8%;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 10px;
        position: relative;
        width: 82%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #strategy_confirmation_main_title_container{
        font-size: 2em;
        text-align: center;
    }
    #strategy_confirmation_subtext_container{
        /* Lighter Blue */
        background: #BDDCE8;
        border: 1px solid black;
        left: 8%;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 10px;
        position: relative;
        width: 82%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #strategy_confirmation_content_container{
        text-align: center;
    }
        #strategy_confirmation_confirm_radio_container{
            font-size: 1.5em;
            left: -15px;
            position: relative;
        }
    .frame_title{
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }
    .frame_subtitle{
        text-align: center;
    }
    .frame_question{
        margin-bottom: 15px;
        margin-left: 10px;
        margin-top: 15px;
    }
    .frame_question_subtext{
        font-style: italic;
        font-size: .9em;
        left: 11%;
        position: relative;
        width: 80%;
    }
    .frame_checkbox_container{
        background: #BDDCE8;
        border: 1px solid black;
        left: 8%;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 10px;
        position: relative;
        width: 80%;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    }
    #content_substep_strategy_exploration_eradication_container{
        left: 24% !important;
        width: 500px !important;
    }
    .eradication_substep{
        margin-left: 26px !important;
        width: 4% !important;
    }
    #content_substep_strategy_exploration_containment_container{
        left: 24% !important;
        width: 500px !important;
    }
    .containment_substep{
        margin-left: 32px !important;
        width: 4% !important;
    }
    #content_substep_strategy_exploration_suppression_container{
        left: 24% !important;
        width: 500px !important;
    }
    .suppression_substep{
        margin-left: 32px !important;
        width: 4% !important;
    }
